.App {
  text-align: center;
  height: 100%;
  width: 100%;
  background-color:grey;
  background-size:cover;
}

.sideBar {
  height: 100%;
  position: absolute;
}

.navItem {
  margin-top: 2ch;
  margin-right: 1ch;
  margin-left: 1ch;
  text-align:center;
}

.projects {
}